<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.browserSupport">
      <support
            class="org.symbian.tools.eclipseqt.workbench.browser.QtBasedBrowserSupport"
            default="false">
      </support>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.symbian.tools.eclipseqt.workbench.browser.QtBasedBrowser"
            default="false"
            icon="icons/obj16/browser.gif"
            id="org.symbian.tools.eclipseqt.browsereditor"
            name="Qt WebKit-based Browser">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.browser.browsers">
      <browser
            factoryclass="org.symbian.tools.eclipseqt.workbench.browser.QtBasedBrowserFactory"
            id="org.symbian.tools.eclipseqt.browser"
            name="Qt WebKit"
            os="Win32,MacOSX">
      </browser>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.symbian.tools.eclipseqt.workbench.qtviews"
            name="Qt-Based Views">
      </category>
      <view
            allowMultiple="true"
            category="org.symbian.tools.eclipseqt.workbench.qtviews"
            class="org.symbian.tools.eclipseqt.workbench.browser.QtBasedBrowserView"
            icon="icons/obj16/browser.gif"
            id="org.symbian.tools.eclipseqt.workbench.browser"
            name="Qt WebKit Browser"
            restorable="true">
      </view>
      <view
            category="org.symbian.tools.eclipseqt.workbench.qtviews"
            class="org.symbian.tools.eclipseqt.workbench.browser.WebInspectorView"
            icon="icons/obj16/browser.gif"
            id="org.symbian.tools.eclipseqt.workbench.inspector"
            name="Web Inspector"
            restorable="true">
      </view>
   </extension>

</plugin>
